.char{
  margin-left: 150px;
  margin-top: 100px;
}

#header{
  color: yellowgreen;
  font-size: 26px;
}

span.recharts-legend-item-text {
  color: white;
}

#SelectPatientLabel{
  color: white;
  font-size: 20px;
}

#PatientDropdown{
  font-size: 20px;
  background-color: #3d3b5e;
  color: white;
  margin-top: 10px;
  border: solid 3px #3d3b5e;
  height: 50px;
  width: 200px;
}


#modeButton{
  background-color: #401D5D;
  font-size: 20px;
  color: white;
  height: 50px;
  width: 120px;
  border: solid 3px #401D5D;
  border-radius: 5px;
  float: right;
  margin-right: 300px;
}

.rt-tbody{
  display: flex;
  color: white;
  font-size: 15px;
  padding: 50px;
  padding-left: 100px;
}

.pagination-bottom{
  padding: 50px;
}

.pagination-bottom button {
  background-color: #401D5D;
  color: white;
  border: solid 3px #401D5D;
}

.-pageJump input {
  background-color: #401D5D;
  color: white;
  border: solid 3px #401D5D;
}

.select-wrap.-pageSizeOptions select{
  background-color: #401D5D;
  color: white;
  border: solid 3px #401D5D;
  margin: 5px;

}

.MuiPaper-root.MuiPaper-elevation2.MuiPaper-rounded {
  margin: 100px 150px;
  padding: 50px;
  font-size: 20px;
}

td.MuiTableCell-root.MuiTableCell-body.MuiTableCell-alignLeft {
  font-size: 15px;
  text-align: center;
}

h6.MuiTypography-root.MuiTypography-h6 {
  font-size: 22px;
}